services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\Service\SiretValidator:
    arguments:
      $httpClient: '@http_client'
      $apiKey: '%env(INSEE_API_KEY)%'

  App\Validator\SiretExistsValidator:
    arguments:
      $siretValidator: '@App\Service\SiretValidator'
    tags: ['validator.constraint_validator']

  App\Service\GeocodingService:
    arguments:
      $client: '@http_client'

  App\Controller\:
    resource: '../src/Controller/'
    tags: ['controller.service_arguments']
    public: true

  App\Repository\:
    resource: '../src/Repository'
    tags: ['doctrine.repository_service']  
